{% extends 'admin/base.html.twig' %}

{% block title %}Seller index{% endblock %}

{% block body %}
	<h1>Seller index</h1>

	<a btn primary href="{{ path('admin.sellers.create') }}">Create new</a>
	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Slug</th>
			<th>Url</th>
			<th>Logo</th>
			<th>Offers</th>
			<th>UpdatedAt</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for seller in sellers %}
			<tr>
				<td>{{ seller.id }}</td>
				<td>{{ seller.name }}</td>
				<td>{{ seller.slug }}</td>
				<td><a href={{ seller.url }}>{{ seller.url }}</a></td>
				<td>
					<div class="logo"><img src="{{ seller.logo }}" alt="{{ seller.name }}"/></div>
				</td>
				<td>{{ seller.offers|length }}</td>
				<td>{{ seller.updatedAt|date('Y-m-d') }}</td>
				<td>
					<div style="display: flex;gap: 1rem;">
						<a btn href="{{ path('admin.sellers.show', {'slug': seller.slug}) }}">show</a>
						<a btn primary href="{{ path('admin.sellers.edit', {'slug': seller.slug}) }}">edit</a>
						{% if seller.offers.count == 0 %}
							<form method="post" action="{{ path('admin.sellers.delete', {'slug': seller.slug}) }}"
										onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seller.id) }}">
								<button type="submit">Delete</button>
							</form>
						{% endif %}
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="9">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
