{% extends 'admin/base.html.twig' %}

{% block title %}Jersey index{% endblock %}

{% block body %}
	<h1>Jersey index</h1>

	<a btn primary href="{{ path('admin.jerseys.create') }}">Create new</a>

	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Year</th>
			<th>Type</th>
			<th>Offers</th>
			<th>UpdatedAt</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for jersey in jerseys %}
			<tr>
				<td>{{ jersey.id }}</td>
				<td>
					<a href="{{ path('admin.jerseys.edit', {'slug': jersey.slug}) }}" class="jersey">
						<div class="logo">
							<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
						</div>
						{{ jersey.computedName }}
					</a>
				</td>
				<td>{{ jersey.year |trans }}</td>
				<td>{{ jersey.type |trans }}</td>
				<td>{{ jersey.offers|length }}</td>
				<td>{{ jersey.updatedAt|date('Y-m-d') }}</td>
				<td>
					<a btn href="{{ path('admin.jerseys.show', {'slug': jersey.slug}) }}">show</a>
					<a btn href="{{ path('admin.jerseys.edit', {'slug': jersey.slug}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="9">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
