{% extends 'admin/base.html.twig' %}

{% block title %}Jersey index{% endblock %}

{% block body %}
	<h1>Jersey index</h1>

	<table class="table">
		<thead>
		<tr>
			<th>Year</th>
			<th>Slug</th>
			<th>Type</th>
			<th>Picture</th>
			<th>UpdatedAt</th>
			<th>Id</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for jersey in jerseys %}
			<tr>
				<td>{{ jersey.year.value }}</td>
				<td>{{ jersey.slug }}</td>
				<td>{{ jersey.type.value }}</td>
				<td><img src="{{ jersey.picture }}" alt="{{ jersey.computedName }}"/></td>
				<td>{{ jersey.updatedAt|date('Y-m-d') }}</td>
				<td>{{ jersey.id }}</td>
				<td>
					<a href="{{ path('admin.jerseys.show', {'slug': jersey.slug}) }}">show</a>
					<a href="{{ path('admin.jerseys.edit', {'slug': jersey.slug}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="9">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('admin.jerseys.create') }}">Create new</a>
{% endblock %}
