{% extends 'admin/base.html.twig' %}

{% block title %}{{ jersey.computedName }}{% endblock %}

{% block body %}
	<h1>Jersey</h1>
	<a btn href="{{ path('admin.jerseys.list') }}">back to list</a>
	<a btn primary href="{{ path('admin.jerseys.create') }}">Create new</a>
	<grid>
		<div col="1/2">

			<card>
				<grid>
					<div col="1/3">
						<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
					</div>
					<div col="2/3">
						<table>
							<tbody>
							<tr>
								<td>Id</td>
								<td>{{ jersey.id }}</td>
							</tr>
							<tr>
								<td>Club</td>
								<td><a href="{{ path('admin.clubs.show', {slug: jersey.club.slug}) }}">{{ jersey.club.name }}</a></td>
							</tr>
							<tr>
								<td>Computed name</td>
								<td>{{ jersey.computedName }}</td>
							</tr>
							<tr>
								<td>Year</td>
								<td>{{ jersey.event.name }}</td>
							</tr>
							<tr>
								<td>Slug</td>
								<td>{{ jersey.slug }}</td>
							</tr>
							<tr>
								<td>Type</td>
								<td>{{ jersey.type.value }}</td>
							</tr>
							<tr>
								<td>UpdatedAt</td>
								<td>{{ jersey.updatedAt|date('Y-m-d') }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</grid>

				<hr>

				<div class="actions">
					<a btn href="{{ path('admin.jerseys.edit', {'slug': jersey.slug}) }}">edit</a>
					{% if jersey.offers.count == 0 %}
						<form method="post" action="{{ path('admin.jerseys.delete', {'slug': jersey.slug}) }}"
									onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jersey.id) }}">
							<button type="submit">Delete</button>
						</form>
					{% endif %}
				</div>
			</card>
		</div>
		<div col="1/2">
			<card>
				<h3>Add an offer</h3>
				{{ form(offerForm) }}
			</card>
		</div>
		<div col="1/1">
			<card class="offers" id="offers">
				<h2>Offers</h2>
				<table>
					<thead>
					<tr>
						<th>Seller</th>
						{% for type in jerseyFormats %}
							<th>{{ type.value|trans }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% for seller in sellers %}
						<tr>
							<td>
								<div class="offer">
									<img src="{{ seller.logo }}" alt="{{ seller.name }}">
									<span class="name">{{ seller.name }}</span>
								</div>
							</td>
							{% for type in jerseyFormats %}
								<td>
									{% if sellersOffers[seller.id][type.value] is not null %}
										<a
											href="{{ path('admin.offers.edit', {id: sellersOffers[seller.id][type.value].id}) }}"> {{ sellersOffers[seller.id][type.value].price|format_currency('USD') }}</a>
									{% else %}
										<form name="create_default_offer_{{ seller.id }}_{{ type.value }}" method="post"
													action="{{ path('admin.offers.create_default') }}">
											<input name="jersey" value="{{ jersey.id }}" type="hidden">
											<input name="seller" value="{{ seller.id }}" type="hidden">
											<input name="format" value="{{ type.value }}" type="hidden">
											<button btn type="submit">Add</button>
										</form>
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</card>
		</div>
		<div col="1/1">
			<card class="offers">
				<h2>Offers</h2>
				<table>
					<thead>
					<tr>
						<th>Seller</th>
						<th>Type</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for offer in jersey.offers %}
						<tr>
							<td>
								<div class="offer">
									<img src="{{ offer.seller.logo }}" alt="{{ offer.seller.name }}">
									<span class="name">{{ offer.seller.name }}</span>
								</div>
							</td>
							<td><span>{{ offer.format |trans }}</span></td>
							<td><span>{{ offer.price|format_currency('USD') }}</span></td>
							<td>
								<a href="{{ path('admin.offers.edit', {id: offer.id}) }}">Edit</a>
								<a href="{{ offer.url }}" target="_blank" rel="noopener noreferrer">View</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</card>
		</div>

	</grid>
{% endblock %}
