{% extends 'admin/base.html.twig' %}

{% block title %}Jersey{% endblock %}

{% block body %}
	<h1>Jersey</h1>
	<a btn href="{{ path('admin.jerseys.list') }}">back to list</a>
	<a btn primary href="{{ path('admin.jerseys.create') }}">Create new</a>
	<grid>
		<div col="1/2">

			<card>
				<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
				<table class="table">
					<tbody>
					<tr>
						<th>Id</th>
						<td>{{ jersey.id }}</td>
					</tr>
					<tr>
						<th>Computed name</th>
						<td>{{ jersey.computedName }}</td>
					</tr>
					<tr>
						<th>Year</th>
						<td>{{ jersey.year.value }}</td>
					</tr>
					<tr>
						<th>Slug</th>
						<td>{{ jersey.slug }}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ jersey.type.value }}</td>
					</tr>
					<tr>
						<th>UpdatedAt</th>
						<td>{{ jersey.updatedAt|date('Y-m-d') }}</td>
					</tr>
					</tbody>
				</table>

				<hr>

				<div class="actions">
					<a btn href="{{ path('admin.jerseys.edit', {'slug': jersey.slug}) }}">edit</a>
					{% if jersey.offers.count == 0 %}
						<form method="post" action="{{ path('admin.jerseys.delete', {'slug': jersey.slug}) }}"
									onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jersey.id) }}">
							<button type="button">Delete</button>
						</form>
					{% endif %}
				</div>
			</card>
		</div>
		<div col="1/2">
			<card class="offers">
				<h2>Offers</h2>
				<ul>
					{% for offer in jersey.offers %}
						<li>
							<img src="{{ offer.seller.logo }}" alt="{{ offer.seller.name }}">
							<span class="name">{{ offer.seller.name }}</span><span>{{ offer.price|format_currency('EUR') }}</span>
							<a href="{{ offer.url }}" target="_blank" rel="noopener noreferrer">View</a>
						</li>
					{% endfor %}
				</ul>
			</card>
			<card>
				<h3>Add an offer</h3>
				{{ form(offerForm) }}
			</card>
		</div>

	</grid>
{% endblock %}
