<a href="{{ path('app.club', {slug: club.slug}) }}" class="display-club">
	<div class="logo">
		<img src="{{ asset('/storage/clubs/' ~ club.logo) }}" alt="{{ club.logo }}"/>
	</div>
	<div class="details">
		<div class="name">{{ club.name }}</div>
		<div class="league">{{ club.league.name }}</div>
	</div>
</a>
