<div class="sub-heading">
    <h2>{{ h2 }} 📋</h2>
</div>

<card>
    <a href="{{ path('create_league_action') }}">Leagues</a>
    <a href="{{ path('create_club_action') }}">Clubs</a>
    <a href="{{ path('create_jersey_action') }}">Jerseys</a>
    <a href="{{ path('create_seller_action') }}">Seller</a>
</card>
