{% extends 'base.html.twig' %}

{% block title %}League index{% endblock %}

{% block body %}
    <h1>League index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Logo</th>
            <th>DeletedAt</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Id</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td>{{ league.name }}</td>
                <td>{{ league.slug }}</td>
                <td>{{ league.logo }}</td>
                <td>{{ league.deletedAt ? league.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ league.createdAt ? league.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ league.updatedAt ? league.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ league.id }}</td>
                <td>
                    <a href="{{ path('app_league_show', {'slug': league.slug}) }}">show</a>
                    <a href="{{ path('admin.edit_league_action', {'slug': league.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.create_league_action') }}">Create new</a>
{% endblock %}
