{% extends 'admin/base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
	<h1>Club index</h1>

	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Country</th>
			<th>League</th>
			<th>UpdatedAt</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for club in clubs %}
			<tr>
				<td>{{ club.id }}</td>
				<td>
					<a href="{{ path('admin.clubs.show', {slug: club.slug}) }}" class="club">
						<div class="logo">
							<img src="{{ club.logo }}" alt="{{ club.name }}"/>
						</div>
						<span class="name">{{ club.name }}</span>
					</a>
				</td>
				<td>{{ club.country }}</td>
				<td>
					<a href="{{ path('admin.leagues.show', {slug: club.league.slug}) }}" class="league">
						<div class="logo">
							<img src="{{ club.league.logo }}" alt="{{ club.league.name }}"/>
						</div>
						<span class="name">{{ club.league.name }}</span>
					</a>
				</td>
				<td>{{ club.updatedAt|date('Y-m-d') }}</td>
				<td>
					<div style="display: flex;gap:.5rem">
						<a btn href="{{ path('admin.clubs.show', {'slug': club.slug}) }}">show</a>
						<a btn href="{{ path('admin.clubs.edit', {'slug': club.slug}) }}">edit</a>
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="9">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('admin.clubs.create') }}">Create new</a>
{% endblock %}
