{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>{{ title }}</h1>
		<div class="subcategories">
			{% for item in subCategories %}
				<a href="{{ path(item.routeName, item.routeParams) }}">{{ item.name }}</a>
			{% endfor %}
		</div>
		<grid class="jerseys">
			{% for jersey in jerseys %}
				<div col="1/4">
					<card class="jersey-display">
						<header>
							<a href="{{ path('app.club', {slug: jersey.club.slug}) }}" class="club">{{ jersey.club.name }}</a>
							{{ jersey.type |trans }}
							{{ jersey.event.name }}
						</header>
						<a href="{{ path('app.jersey', {slug: jersey.slug}) }}" class="picture">
							<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
						</a>
					</card>
				</div>
			{% endfor %}
		</grid>
	</div>
{% endblock %}

{% block title %}

{% endblock %}

