{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
	<section>
		<h1>{{ jersey.club.name }} {{ jersey.type |trans }} {{ jersey.event.name }}</h1>
		<grid>
			<div col="1/2">
				<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
			</div>
			<div col="1/2">
				<div class="offers-list">
					{% for offer in jersey.offers %}
						<a href="{{ offer.url }}" target="_blank" rel="noopener noreferrer" class="seller-link">
							<card class="seller-card">
								<div class="seller-logo">
									<img src="{{ offer.seller.logo }}" alt="{{ offer.seller.name }}"/>
								</div>
								<div class="seller-name">
									<span class="name">{{ offer.seller.name }}</span>
								</div>
								<div class="seller-price">
									<span class="header">starting at</span>
									<span class="price">{{ offer.price|format_currency('USD') }}</span>
								</div>
							</card>
						</a>
					{% endfor %}
				</div>
			</div>
		</grid>
	</section>
{% endblock %}
