{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
	<div>
		<h1>{{ jersey.club.name }} {{ jersey.type |trans }} {{ jersey.event.name }}</h1>
		<grid>
			<div col="1/2">
				<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
			</div>
			<div col="1/2">
				<div class="offers-list">
					{% for offer in jersey.offers %}
						<a href="{{ offer.url }}" target="_blank" rel="noopener noreferrer" class="seller-link">
							<card class="seller-card">
								<div class="seller-logo">
									<img src="{{ offer.seller.logo }}" alt="{{ offer.seller.name }}"/>
								</div>
								<div class="seller-name">
									<span class="name">{{ offer.seller.name }}</span>
								</div>
								<div class="seller-price">
									<span class="header">starting at</span>
									<span class="price">{{ offer.price|format_currency('USD') }}</span>
								</div>
							</card>
						</a>
					{% endfor %}
				</div>
			</div>
		</grid>
	</div>
	<div class="similar">
		<h2>Others from {{ jersey.club.name }}</h2>
		<div class="similars">
			{% for jersey in clubJerseys %}
				<div col="1/4">
					<card class="jersey-display">
						<a href="{{ path('app.jersey', {slug: jersey.slug}) }}" class="picture">
							<img src="{{ asset('/storage/jerseys/' ~ jersey.picture) }}" alt="{{ jersey.computedName }}"/>
						</a>
						<header>
							{{ jersey.type |trans }}
							{{ jersey.event.name }}
						</header>
					</card>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
